.headerTitle{
  color:#4B94C3;
}

.navbar{
  background-color: #20242A;
}

.indResultsContainer{
  border:1px solid black;
  margin: 5px;
  border-radius: 10px 10px 10px 10px;
  height: 200px;
  width: 400px;
  float:left;
}

.titleContainer{
  /*background-color: red;*/
}

.profileImage{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
